.invalidInput {
    border: 1px solid red !important;
}

.invalidInput:focus {
    border: 2px solid red !important;
}

.errorTxt {
    color: red; 
    font-size: 0.8em;
}

#studentsTbl, #title {
    margin-top: 30px;
}

th {
    background-color: lightgrey;
}